# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# doc
/docs

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/

# build
/dist

# git
test-report.html
test-report
